$brand-colors: (
  "primary": #4a6af3,
) !default;

$theme-colors: map-merge(
  $brand-colors,
  (
    "background": #f8f8f8,
    "text": #767676,
    "light": #f9f9f9,
    "dark": #162310,
    "gray": #6a7397,
  )
);

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

$body-color: theme-color(text) !default;
$link-color: theme-color(primary) !default;
$border-radius: 8px !default;

$strong-font-weight: 500 !default;
$h1-font-size: 2.5rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1.125rem !default;
